.navbar {
  background: #fff !important;

  a {
    color: #98A2B2;
  }

  padding-top: 5px;
  padding-bottom: 5px;

  .navbar-nav .active {
    color: #81D8F7;
  }

  .first-menu {
    margin: auto;
  }
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

.navbar-right {
  gap: 30px;
}

.menu-seach {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-radius: 0;
  background-color: transparent !important;
}

.perfil {
  img {
    border-radius: 50%;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .name,
  .role {
    color: #98A2B2;
    font-size: 12px;
  }

  .name {
    font-weight: 600;
  }
}

.menu {
  margin-left: 2%;
  margin-right: 2%;
}

form {
  justify-content: center;
  align-items: center;

  input {
    width: 70%;
  }
}
